div.login-page {
  background-color: black;
  height: 100%;
  width: 100%;
  position: absolute;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

input {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 20px;
  width: 150px;
}

button:hover {
  opacity: 1;
  cursor: pointer;
}

button {
  width: 150px;
  height: 30px;
}

button img {
  height: 15px;
  width: 15px;
  vertical-align: middle;
}
