// * {
//   // position: relative;
//   // z-index: 1
//   // border: 1px solid red;
// }

.div--song {
  position: relative;
  top: 10px;
  background-color: black;
  height: 50px;
  width: 97%;
  color: white;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  font-family: 'Josefin Sans', sans-serif;
  border-bottom: 0.1px solid rgb(52, 48, 48);
  margin: 5px;
  z-index: 0;
}

.image--song img {
  height: 35px;
  width: 35px;
  margin: 10px;
  position: relative;
}

.div--song--name {
  margin-left: 5px;
  width: 250px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.div--song--artist {
  margin-left: 5px;
  margin-top: 2px;
  text-align: left;
  font-size: 12px;
  opacity: 0.7;
}

// .div--vote--song {
//   right: 50px;
//   position: absolute;
//   align-items: center;
//   align-content: center;
//   // FIX THIS *****************
//   top: 15px;
// }

.button--up--vote {
  border-style: none;
  position: absolute;
  right: 30px;
}

.button--edit {
  margin-right: 10px;
  position: absolute;
  right: 0;
  border-style: none;
}

.div--song--info {
  display: flex;
  flex-direction: column;
  align-items: left;
  // height: 150px;
}
