div.results {
  z-index: 100;
}

.song {
  position: relative;
  background-color: black;
  color: white;
  display: flex;
  align-content: center;
  border-bottom: 0.1px solid rgb(52, 48, 48);
  // border-radius: 10px;
  // margin: 5px;
  font-family: 'Josefin Sans', sans-serif;
  height: 11.7vh;
  z-index: 1001;
  text-align: left;
}

.song__info {
  width: 100%;
  padding: 10px;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song__name {
  padding-bottom: 2px;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
}

.song__thumbnail {
  height: 50px;
  width: 50px;
  margin-top: 14.065px;
  margin-left: 10px;
  position: relative;
}

.song__artist {
  padding-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.7;
}

.song__album {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.7;
}


.song__artist {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}