/*** STYLES ***/
.search {
  display: inline-block;
  background-color: rgb(52, 48, 48);
  color: white;
  height: 35px;
  width: 300px;
  box-sizing: border-box;
  cursor: text;

  &.active,
  &:hover {
    background-color: rgb(52, 48, 48);
    width: 300px;
    margin-right: 0px;

    &:after {
      height: 0px;
    }
  }

  input {
    border: none;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    background: rgb(52, 48, 48);
    width: 250px;
    height: 33px;
    padding-left: 35px;
  }

  input:hover {
    background: rgb(52, 48, 48);
  }
}

div.makeStyles-search-4 {
  background-color: rgb(52, 48, 48);
  height: 35px;
}
