.div--player {
  position: fixed;
  bottom: 0px;
  background-color: black;
  height: 60px;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  font-family: 'Josefin Sans', sans-serif;
}

.div--player img {
  height: 50px;
  width: 50px;
  margin: 10px;
  position: relative;
}

.div--player #song {
  font-size: 18px;
  // width: 200px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.div--player #artist {
  // margin-left: 5px;
  margin-top: 2px;
  text-align: left;
  font-size: 16px;
  opacity: 0.7;
  padding-left: 0px;
}

.div--player #commands {
  font-size: 30px;
  margin-right: 10px;
  position: absolute;
  right: 0;
  padding-right: 10px;
}
